<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- Brand Logo And Text -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>

   <!-- Offer Header Container -->
   <div class="listing-header-text">
    My Listing
  </div>

  <div class="content-wrapper">
    <div class="listing-card">
      <div class="img-price">
        <div class="img-container">
          <img [src]="selectedListing.tradeIn.vehicle.photos[0]" alt="Car Image">
        </div>
        <div class="price-container">
          <div class="desired-price">
            ${{selectedListing.tradeIn.price}}
          </div>
          <div class="dealer-trade">
            ${{selectedListing.tradeIn.marketPrice.dealerTrade}} Dealer Trade
          </div>
        </div>
      </div>
      <div class="edit-model-container">
        <div class="make-model-year">
          {{selectedListing.tradeIn.vehicle.year}}
          {{selectedListing.tradeIn.vehicle.make}}
          {{selectedListing.tradeIn.vehicle.model}}
        </div>
        <button class="edit-btn" ion-button clear>Edit</button>
      </div>
      <div class="listing-description">
        {{selectedListing.tradeIn.vehicle.description}}
      </div>
    </div>

    <div class="status-btns-container">
      <!-- TODO:: Make one the the segment buttons slected based off of the status of the listing-->
      <div class="segment-wrapper">
        <ion-segment color="blue-background" [(ngModel)]="listingStatus">
          <ion-segment-button value="active">Active</ion-segment-button>
          <ion-segment-button value="sold">Sold</ion-segment-button>
          <ion-segment-button value="inactive">Inactive</ion-segment-button>
        </ion-segment>
      </div>
      <div class="email-print-btns">
        <img class="listing-icon-styles" src="assets/icon/email.svg" alt="Email Icon"/>
        <img class="listing-icon-styles" src="assets/icon/Print.svg" alt="Print Icon"/>
      </div>
    </div>
    <!-- TODO:: Find out where the posting/listing data is in the object and have it display dynamically here-->
    <div class="posting-history-container">
      <div class="posting-header">Posting History</div>
      <div class="posting-stamp">
        <div class="post-location">Vin Voyager Dealer Network</div>
        <div class="post-date">03/01/2018</div>
      </div>
    </div>
  </div>

</ion-content>
