page-manage-listing {
	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 21px 10px;
		border-bottom: 1px solid #e0e0e0;

		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.listing-header-text {
		color: #385173;
		font-size: 20px;
		font-weight: 600;
		padding: 15px;
		border-bottom: 1px solid #e0e0e0;
		text-align: center;
	}

  .content-wrapper {
    overflow-y: scroll;
  }

	.listing-card {
		padding: 10px;
		border-bottom: 1px solid #e0e0e0;
		.edit-model-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.make-model-year {
				color: #385173;
				font-size: 16px;
				font-weight: 600;
				padding: 5px 0;
				text-align: left;
			}
			.edit-btn {
				text-decoration: underline;
				color: gray;
			}
		}
		.img-price {
			display: flex;
			align-items: center;
			.img-container {
				img {
					width: 125px;
				}
			}
			.price-container {
				margin-left: 20px;
				padding: 5px;
				.desired-price {
					color: #43B7E8;
					font-size: 20px;
					font-weight: 600;
				}
				.dealer-trade {
					color: gray;
					font-size: 14px;
					@media screen and (max-width: 320px) {
						font-size: 12px;
					}
				}
			}
		}
		.listing-description {
			color: gray;
			font-size: 10px;
			padding: 5px 0;
		}
	}


  .status-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    .segment-wrapper {
      width: 65%;
    }
    .email-print-btns {
      .listing-icon-styles {
        width: 50px;
      }
    }
  }

  .posting-history-container {
    padding: 10px;

    .posting-header {
      font-size: 20px;
      font-weight: 600;
    }
    .posting-stamp {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post-location {
        color: #385173;
        font-size: 14px;
        font-weight: 600;
      }
      .post-date {
        color: gray;
      }
    }
  }



}
