<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Brand Logo and Text -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <!-- My Offer Text -->
  <div class="offer-header-text">
    My Offer
  </div>
  <div class="offer-declined-container">
    <div class="make-model">
      {{selectedOffer.tradeIn.vehicle.year}}
      {{selectedOffer.tradeIn.vehicle.make}}
      {{selectedOffer.tradeIn.vehicle.model}}
    </div>
    <div class="offer-amount">${{selectedOffer.price}}</div>
    <div class="offer-status">OFFER DECLINED</div>
    <div class="offer-thanks">Sorry! We hope you can work something out.</div>
    <div class="offer-confirm">
      We've let the dealer know that you have declined their lastest offer.
    </div>
    <button ion-button outline color="blue-background" (click)="doPush()">Oops, Please reactivate this offer</button>
  </div>
</ion-content>
