<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
	<ion-card>
		<ion-card-content class="card-content-bottom">
			<ion-list no-line>
				<button [navPush]="signinPage" ion-button block outline color="light">Sign In</button>
				<button class="button-background-fill" ion-button block outline color="light">Sign Up</button>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>