page-offer-detail {

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.offer-header-text {
		color: #385173;
		font-size: 20px;
		font-weight: 600;
		padding: 15px;
		border-bottom: 1px solid #e0e0e0;
		text-align: center;
	}

	.offer-detail-container {
		overflow-y: scroll;
	}

	.detail-img-price-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 5px;
		.detail-img {
			img {
				width: 125px;
			}
		}
		.detail-price-container {
			align-self: flex-start;
			margin-left: 30px;
			.detail-price {
				color: #43B7E8;
				margin-bottom: 10px;
				text-align: left;
				font-weight: 600;
				font-size: 20px;
			}
			.dealer-trade-value {
				color: gray;
			}
		}
	}

	.detail-model-description {
		padding: 0 10px;
		.car-model {
			font-size: 20px;
			font-weight: 600;
		}
		.car-description {
			color: gray;
			padding: 5px 0;
			border-bottom: 1px solid #e0e0e0;
			font-size: 12px;
		}
	}

	.detail-time-expire {
		padding: 5px;
		text-align: center;
		.dealer-info {
			font-size: 16px;
			color: #385173;
		}
		.offer-time {
			color: #43B7E8;
		}
		.offer-expire-timestamp {
			color: #f53d3d;
			font-weight: 600;
		}
		.offer-amount {
			margin: 10px 0;
			font-weight: 600;
			font-size: 18px;
		}
		.offer-timestamp {
			color: #385173;
		}
	}

	.detail-buttons {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		button {
			width: 40%;
			border-radius: 10px;
		}
	}
}
