<!-- Ionic header that has a back button -->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<!-- Ionic content container that renders the page -->
<ion-content>
  <!-- Brand Logo and Text -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <!-- My Offer Text -->
  <div class="offer-header-text">
    My Offer
  </div>
  <!-- container div that holds all of the content -->
  <div class="offer-detail-container">
    <!-- container that holds the offer img and prices -->
    <div class="detail-img-price-container">
      <!-- Offer Image -->
      <div class="detail-img">
        <img [src]="selectedOffer.tradeIn.vehicle.photos[0]" alt="car photo">
      </div>
      <!-- Offer price, and the dealer trade value -->
      <div class="detail-price-container">
        <div class="detail-price">${{selectedOffer.tradeIn.price}}</div>
        <div class="dealer-trade-value">
          ${{selectedOffer.marketPrice.dealerTrade}} Dealer Trade
        </div>
      </div>
    </div>
    <!-- container that holds the year, make and model of the users offer, as well as a description -->
    <div class="detail-model-description">
      <div class="car-model">
        {{selectedOffer.tradeIn.vehicle.year}}
        {{selectedOffer.tradeIn.vehicle.make}}
        {{selectedOffer.tradeIn.vehicle.model}}
      </div>
      <div class="car-description">
        {{selectedOffer.tradeIn.vehicle.description}}
      </div>
    </div>
    <!-- container that holds all of the text information about the offer status -->
    <div class="detail-time-expire">
      <!-- dealer location -->
      <div class="dealer-info">
          Dealer offer from
          {{selectedOffer.dealerContact.address.city}}
          {{selectedOffer.dealerContact.address.district}}
      </div>
      <!-- dealer offer date -->
      <div class="offer-time">{{selectedOffer.created}}</div>
      <!-- dealer expire timestamp -->
      <!-- TODO:: add logic to dynamically display when the offer expires -->
      <div class="offer-expire-timestamp">Expires in 12 hours</div>
      <!-- offer amount from the dealer -->
      <div class="offer-amount">OFFER: ${{selectedOffer.price}}</div>
      <!-- time stamp of the original offer if the offer has be revised -->
      <!-- TODO:: figure out if this only renders when the offer has been revised. -->
      <div class="offer-timestamp">
        Original Offer
        ${{selectedOffer.price}}
        on
        {{selectedOffer.created}}
      </div>
    </div>
    <!-- Offer accept and decline buttons -->
    <div class="detail-buttons">
      <button ion-button [navPush]="offerAcceptedPage" color="blue-background">Accept</button>
      <button ion-button [navPush]="offerDeclinedPage" outline color="blue-background">Decline</button>
    </div>
  </div>
</ion-content>
