<ion-tabs color="tab-background" [selectedIndex]='tabIndex' #myTabs id="myTabs">
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="infoCastPage" tabTitle="Alerts" tabIcon="megaphone"></ion-tab>
  <ion-tab [root]="offersPage" tabTitle="Offers" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="vehiclesPage" tabTitle="Vehicles" tabIcon="car"></ion-tab>
  <ion-tab [root]="userProfilePage" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>