page-vehicle-pricing {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .pricing-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .pricing-container {
    height: 100%;
  }

  .market-rec-container {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    .edit-btn {
      position: absolute;
      bottom: 0px;
      right: 5px;
      text-decoration: underline;
      padding: 0;
      font-size: 12px;
    }
  }

  .market-rec-header {
    font-size: 20px;
    color: #385173;
    font-weight: 600;
    padding: 10px;
  }

  .market-graph-container {
    width: 100%;
    padding: 10px 30px;
    .retail-bar {
      color: white;
      padding: 5px;
      background-color: #49BA87;
      margin: 5px 0;
      border-radius: 5px;
    }
    .clean-bar {
      color: white;
      padding: 5px;
      background-color: #385173;
      margin: 5px 0;
      width: 90%;
      border-radius: 5px;
    }
    .average-bar {
      color: white;
      padding: 5px;
      background-color: #43B7E8;
      margin: 5px 0;
      width: 80%;
      border-radius: 5px;
    }
    .rough-bar {
      color: white;
      padding: 5px;
      background-color: #9e9e9e;
      margin: 5px 0;
      width: 70%;
      border-radius: 5px;
    }
  }

  .asking-price-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .asking-price-header {
    font-size: 14px;
    color: #385173;
    font-weight: 600;
    padding: 10px;

    .price {
      color: #9e9e9e;
    }
  }

  .asking-price-input-container {
    width: 65%;
    .input-header {
      font-size: 20px;
      color: #385173;
      font-weight: 600;
      padding: 10px;
    }
    .asking-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .asking-input {
        width: 100;
        border-radius: 5px;
        background-color: #e0e0e0;
        border: none;
        padding: 5px 10px;
        color: #385173;
      }
      .next-btn {

      }
    }
  }
}
