<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
    <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [priceBorderColor]="startBorderColor"
    [priceIconColor]="iconColor"
    [describeBorderColor]="startBorderColor"
    [describeIconColor]="iconColor">
  </page-progress-bar>

  <div class="pricing-header">
    Price My {{vehDesc}}
  </div>
  <!--Pricing container-->
  <div class="pricing-container">
    <div class="market-rec-container">
      <!--Header-->
      <div class="market-rec-header">
        Market Recommendation
      </div>
      <!--Graph Container-->
      <div class="market-graph-container">
        <div class="retail-bar">Retail: $17,000</div>
        <div class="clean-bar">Clean: $14,000</div>
        <div class="average-bar">Average: $13,200</div>
        <div class="rough-bar">Rough $10,000</div>
      </div>
      <!--Edit Button-->
      <button ion-button clear color="light-gray" class="edit-btn">Edit Condition</button>
    </div>
    <!--Asking Price Container-->
    <div class="asking-price-container">
      <!--Header-->
      <div class="asking-price-header">
        Recommended Asking Price:
        <span class="price">$13,200</span>
      </div>
      <!--Asking price input and form container-->
      <div class="asking-price-input-container">
        <div class="input-header">
          My Asking Price
        </div>
        <form class="asking-form">
          <input class="asking-input" placeholder="$13,200" />
          <button class="next-btn" ion-button clear color="blue-background" (click)="doPush()">Next</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
