page-no-scan {
	.scroll-content {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.no-scan-background {
		position: relative;
	}

	.no-scan-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 28%;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		top: 20px;
		width: 100%;
		padding: 20px 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.input-styles {
		background-color: #E4E9F2;
		display: inline-table;
		width: 100vw;
		margin-top: 10%;
		margin-right: 2.5vw;
	}

	.vin-text {
		font-size: 22px;
		font-weight: 800;
		margin: 20px 0;
	}

	.ion-footer-style {
		position: absolute;
		bottom: 0;
		width: 80%;
		margin: auto;
		top: 85%;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 105;
		margin: -7% 0% 0% 15%;
		@media only screen and (max-width: 320px) {
			top: 80%;
		}

	}
	.button-background-fill-light {
		background-color: #4299C4;
		margin: 5px 0px 5px 0px;
		width: 90%;
	}

	.button-background-fill-dark {
		background-color: #FF333C;
		width: 90%;
	}

	.button-margin {
		margin: 5px 0px;
		width: 70%;
		display: inline-block;
	}
}

