<ion-content class="no-scan-background">  
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <div class="no-scan-container">
    <div class="vin-text">Enter your VIN below...</div>
    <form (ngSubmit)="doDecodeVIN()" class="form-position">
      <ion-card-content>
        <ion-item>
          <ion-input class="input-styles" [(ngModel)]="vinData.vin" name="vin" type="text" placeholder="" autofocus text-center></ion-input>
        </ion-item>
      </ion-card-content>
      <!-- Content Footer -->
      <ion-footer class="ion-footer-style">
        <button ion-button type="submit" class="button-background-fill-light" style="z-index: 110;" ion-button block outline color="light">Decode VIN</button>
        <button class="button-background-fill-dark" ion-button block outline color="light" [navPush]="scanPage">Cancel</button>
      </ion-footer>
    </form>
  </div>
</ion-content>
