<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Progress Bar Component -->
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="circleColor">
  </page-progress-bar>
  <!-- Header Text -->
  <div class="int-color-header">
    Select Interior Color
  </div>

  <!-- Description of Vehicle -->
  <div class="int-color-description">
    {{vehDesc}}
  </div>

  <!-- Displays if no interior colors are available -->
  <div style="font-size: 12px; text-align: center; color: #43B7E8;" *ngIf="noIntColors">
      No interior colors are available.  Press <a (click)="doPush()"><b><u>Next</u></b></a> to continue.
  </div>

  <!-- Options container with ngFor statement that lists the users options -->
  <div class="options-container">

    <div class="int-color-option" *ngFor="let data of intColorsAry" (click)="doPush(data)">
      <!--<div [ngStyle]="{'background-color': getColorCode(data.value)}" class="int-color-square"></div>-->
      <div class="int-color-name">{{data.name}}</div>
    </div>




    <!--This is the code that renders the code coming in from the API-->
    <!--<div class="int-color-option" *ngFor="let data of intColorsAry" (click)="doPush(data)">-->
      <!--<div [ngStyle]="{'background-color': getColorCode(data.value)}" class="int-color-square"></div>-->
      <!--<div class="int-color-name">{{data.name}}</div>-->
    <!--</div>-->
  </div>
</ion-content>
