<ion-tabs color="tab-background" [selectedIndex]='tabIndex' #myTabs id="myTabs">
  <!--<ion-tab [root]="LaunchPage" tabTitle="SignIn" tabIcon="star"></ion-tab>-->
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="offersPage" tabTitle="Offers" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="vehiclesPage" tabTitle="Vehicles" tabIcon="car"></ion-tab>
  <ion-tab [root]="profilePage" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>