page-how-to-scan {
    .background {
		background-image: url('../assets/imgs/home-background.png');
    }
    
    .scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}
