<ion-content class="scan-background">
	<div class="header-logo">
		<div class="brand-name">Vin Voyager</div>
		<img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
	</div>
	<div class="scan-container">
		<!-- Text Box # 1 of 3 -->
		<div class="text-box-1">
			Scan the VIN barcode on your vehicle.
		</div>
		<!-- Text Box # 2 of 3 -->
		<div class="text-box-2">
			The Barcode is typically located on the vehicle's windshield or the inside driver's side door.
		</div>
		<img class="cam-rotate-svg" src="assets/imgs/cam-rotate.svg" alt="phone rotate icon">
		<!-- Text Box # 3 of 3 -->
		<div class="text-box-3">For best results, rotate phone.</div>
	</div>
	<!-- Content Footer -->
	<ion-footer class="ion-footer-style">
		<button class="button-background-fill-light" ion-button block outline color="light" (click)="scanVIN()">Scan The Vehicle</button>
		<button class="text-underline" ion-button clear full color="dark" [navPush]="noScanPage" >Can't scan.  No problem!</button>
	</ion-footer>
</ion-content>