page-scan {
	.scroll-content {
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	.scan-background {
		position: relative;
	}

	.scan-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		top: 19%;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		top: 20px;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px; 
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.text-box-1 {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
		line-height: 24px;
		margin: 15px 0;
		padding: 0 10px;
	}

	.text-box-2 {
		font-size: 18px;
		text-align: center;
		margin: 10px 0;
		line-height: 20px;
		padding: 0 10px;
		@media screen and (max-width: 320px) {
			font-size: 14px;
			margin: 5px 0;
		}
	}

	.cam-rotate-svg {
		height: 175px;
		width: 175px;
		@media only screen and (max-width: 320px) {
			height: 125px;
			width: 125px;
		}
	}

	.text-box-3 {
		font-size: 20px;
		text-align: center;
		margin: 10px 0;
		color: #43B7E8;
		@media screen and (max-width: 320px) {
			font-size: 18px;
			margin: 5px 0;
		}
	}

	// Styles for the scan button
	.button-background-fill-light {
		background-color: #4299C4;
		margin: 5px 0px;
		width: 90%;
	}

	.ion-footer-style {
		position: absolute;
		width: 80%;
		margin: auto;
		top: 86%;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 104;
		margin: -7% 0% 0% 15%;
		@media screen and (max-width: 320px) {
			top: 83%;
		}
	}

	.text-underline {
		text-decoration: underline;
		width: 90%;
	}
}