<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [describeBorderColor]="startBorderColor"
    [describeIconColor]="iconColor">
  </page-progress-bar>

  <div class="conditions-header">
    Describe the condition of your {{vehDesc}}
  </div>

  <div class="conditions-container">

    <form class="form-styles" [formGroup]="conditionForm" (submit)="doPush()">
      <!--START STATUS AND HISTORY SECTION-->
      <div class="section-divider">
        Status and History
      </div>
      <!--WHO OWNS THE TITLE-->
      <div class="condition-option">
        <div class="condition-question">
          Do you own the title to this vehicle?
        </div>
        <ion-segment class="segment-container" formControlName="title" color="blue-background">
          <ion-segment-button value="yes">
            Yes
          </ion-segment-button>
          <ion-segment-button value="bank">
            Bank owns it
          </ion-segment-button>
          <ion-segment-button value="missing">
            Missing Title
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--DOES THE USER OWE MONEY ON VEHICLE-->
      <div class="condition-option">
        <div class="condition-question">
          Do you owe money on this vehicle
        </div>
        <ion-segment class="segment-container" formControlName="doesUserOweMoney" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--IS THE TITLE CLEAN-->
      <div class="condition-option">
        <div class="condition-question">
          Is the title clean(not salvage, flood, ect..)?
        </div>
        <ion-segment class="segment-container" formControlName="isTitleClean" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--DOES THE VEHICLE RUN-->
      <div class="condition-option">
        <div class="condition-question">
          Does the vehicle run?
        </div>
        <ion-segment class="segment-container" formControlName="doesVehicleRun" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--HAS THE VEHICLE BEEN IN ANY ACCIDENTS?-->
      <div class="condition-option">
        <div class="condition-question">
          Has the vehicle ever been in an accident?
        </div>
        <ion-segment class="segment-container" formControlName="accident" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--PAINT AND BODY WORK-->
      <div class="condition-option">
        <div class="condition-question">
          Has this vehicle had any paint or body work?
        </div>
        <ion-segment class="segment-container" formControlName="bodyWork" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--AFTERMARKET PARTS-->
      <div class="condition-option">
        <div class="condition-question">
          Has any aftermarket equipment been installed on the vehicle?
        </div>
        <ion-segment class="segment-container" formControlName="afterMarketParts" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--ARE THERE ANY ODORS?-->
      <div class="condition-option">
        <div class="condition-question">
          Does this vehicle have any cigarette, pet or other odors?
        </div>
        <ion-segment class="segment-container" formControlName="odors" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--HOW MANY SETS OF KEYS?-->
      <div class="condition-option">
        <div class="condition-question">
          How many sets of keys?
        </div>
        <ion-segment class="segment-container" formControlName="keySets" color="blue-background">
          <ion-segment-button value="2">
            2+
          </ion-segment-button>
          <ion-segment-button value="1">
            1
          </ion-segment-button>
          <ion-segment-button value="missing">
            Missing
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--END STATUS AND HISTORY CONTENT-->
      <!--START EXTERIOR CONDITION CONTENT-->
      <div class="section-divider">
        Exterior Condition
      </div>
      <!--SCRATCHES OR CHIPS IN PAINT-->
      <div class="condition-option">
        <div class="condition-question">
          Are there any scratches or chips in the paint?
        </div>
        <ion-segment class="segment-container" formControlName="paintCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="light">
            Light
          </ion-segment-button>
          <ion-segment-button value="deep">
            Deep
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--DENTS AND DINGS-->
      <div class="condition-option">
        <div class="condition-question">
          Are there any dents or dings?
        </div>
        <ion-segment class="segment-container" formControlName="dentsDings" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="slight">
            Slight
          </ion-segment-button>
          <ion-segment-button value="major">
            Major
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--WINDOW CHIPS OR CRACKS-->
      <div class="condition-option">
        <div class="condition-question">
          Any chips or cracks in the windows?
        </div>
        <ion-segment class="segment-container" formControlName="windowCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="fixable">
            Fixable
          </ion-segment-button>
          <ion-segment-button value="replace">
            Replace
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--BROKEN OR MISSING LIGHTS-->
      <div class="condition-option">
        <div class="condition-question">
          Any broken or missing lights?
        </div>
        <ion-segment class="segment-container" formControlName="lightCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="bulb out">
            Bulb Out
          </ion-segment-button>
          <ion-segment-button value="replace">
            Replace
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--END EXTERIOR CONDITION CONTENT-->
      <!--START VEHICLE INTERIOR-->
      <div class="section-divider">
        Interior Condition
      </div>
      <!--INTERIOR SEATS-->
      <div class="condition-option">
        <div class="condition-question">
          Do the seats have any tears, burns or stains?
        </div>
        <ion-segment class="segment-container" formControlName="seatCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="slight">
            Slight
          </ion-segment-button>
          <ion-segment-button value="large-deep">
            Large/Deep
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--INTERIOR CARPET-->
      <div class="condition-option">
        <div class="condition-question">
          Any tears, burns or stains on the carpet?
        </div>
        <ion-segment class="segment-container" formControlName="carpetCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="slight">
            Slight
          </ion-segment-button>
          <ion-segment-button value="large-deep">
            Large/Deep
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--INTERIOR CABIN-->
      <div class="condition-option">
        <div class="condition-question">
          Any scrapes, scuffs, cracks or dings on the dashboard or in the interior cabin?
        </div>
        <ion-segment class="segment-container" formControlName="cabinCondition" color="blue-background">
          <ion-segment-button value="false">
            None
          </ion-segment-button>
          <ion-segment-button value="slight">
            Slight
          </ion-segment-button>
          <ion-segment-button value="major">
            Major
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- END VEHICLE INTERIOR -->
      <!-- START MECHANICAL CONDITION -->
      <div class="section-divider">
        Mechanical Condition
      </div>
      <!-- TIRES -->
      <div class="condition-option">
        <div class="condition-question">
          Do the tires have a worn tread or need replacing?
        </div>
        <ion-segment class="segment-container" formControlName="tireCondition" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- STEERING -->
      <div class="condition-option">
        <div class="condition-question">
          Are there any steering problems or shuddering?
        </div>
        <ion-segment class="segment-container" formControlName="steeringCondition" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- AC/HEATING -->
      <div class="condition-option">
        <div class="condition-question">
          Any problems with the A/C or heating?
        </div>
        <ion-segment class="segment-container" formControlName="acHeatingCondition" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- BRAKES -->
      <div class="condition-option">
        <div class="condition-question">
          Any problems with the brakes?
        </div>
        <ion-segment class="segment-container" formControlName="brakeCondition" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- ENGINE -->
      <div class="condition-option">
        <div class="condition-question">
          Any engine issues?
        </div>
        <ion-segment class="segment-container" formControlName="engineIssues" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- TRANSMISSION -->
      <div class="condition-option">
        <div class="condition-question">
          Any transmission issues?
        </div>
        <ion-segment class="segment-container" formControlName="transmissionIssues" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- ELECTRICAL -->
      <div class="condition-option">
        <div class="condition-question">
          Any electrical issues(dashboard, nav, radio)?
        </div>
        <ion-segment class="segment-container" formControlName="electricalIssues" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- WARNING LIGHT -->
      <div class="condition-option">
        <div class="condition-question">
          Warning lights on?
        </div>
        <ion-segment class="segment-container" formControlName="warningLight" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <!-- FLUID LEAK -->
      <div class="condition-option">
        <div class="condition-question">
          Fluid Leaks?
        </div>
        <ion-segment class="segment-container" formControlName="fluidLeaks" color="blue-background">
          <ion-segment-button value="false">
            No
          </ion-segment-button>
          <ion-segment-button value="true">
            Yes
          </ion-segment-button>
        </ion-segment>
      </div>
      <button class="next-btn" type="submit" ion-button clear color="blue-background">Next</button>
    </form>
  </div>
</ion-content>
