page-vehicle-conditions {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .conditions-header {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding:  10px 20px;
      color: #385173;
      border-bottom: 1px solid #e0e0e0;
  }

  .conditions-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 245px;
  }

  .form-styles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .section-divider {
    width: 100%;
    text-align: left;
    color: white;
    background-color: #43B7E8;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .condition-option {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    .condition-question {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
    }

    .segment-container {
      padding: 10px;
    }
  }

  .next-btn {
    margin-top: 40px;
  }

}
