page-vehicle-ext-color {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .ext-color-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #h8h8;
    border-bottom: 1px solid #e0e0e0;
  }

  .ext-color-description {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #43B7E8;
    padding: 10px;
  }

  .options-container {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 400px;
  }

  .ext-color-option {
    background-color: #E4E9F2;
    color: gray;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin: 10px 0;
    display: flex;

    .ext-color-name {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }

    .ext-color-square {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
  }
}


