<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Progress Bar Component -->
  <page-progress-bar
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [barWidth]="progressBarWidth">
  </page-progress-bar>
  
  <!-- Header Text -->
  <div class="ext-color-header">
    Select Exterior Color
  </div>
  
  <!-- Desctiption of the vehicle -->
  <div class="ext-color-description">
    {{vehDesc}}
  </div>
  
  <!-- Displays if no exterior colors are available -->
  <div style="font-size: 12px; text-align: center; color: #43B7E8;" *ngIf="noExtColors">
    No exterior colors are available.  Press <a (click)="doPush()"><b><u>Next</u></b></a> to continue.
  </div>
  
  <!-- Options container with ngFor Statement that lists the users options -->
  <div class="options-container">
    <div class="ext-color-option" *ngFor="let data of extColorsAry" (click)="doPush(data)">
      <div [ngStyle]="{'background-color': getColorCode(data.value)}" class="ext-color-square"></div>
      <div class="ext-color-name">{{data.name}}</div>
    </div>
  </div>
</ion-content>
