<ion-content class="background">
	<div class="car-background">
		<div class="background-fade">
			<!-- Brand Text and Logo container -->
			<div class="header-logo-container">
				<div class="logo-text">
					<div class="brand-name">Vin Voyager</div>
					<div class="brand-subtext">The Smart and Fast Way</div>
					<div class="brand-subtext">To Sell Your Car</div>
				</div>
				<img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
			</div>
			<!-- Content Footer -->
			<ion-footer style="position: absolute; z-index: 104;" class="ion-footer-style">
				<button class="button-margin" [navPush]="signinPage" ion-button block outline color="light">Sign In</button>
				<button class="button-margin" style="background-color: #4299C4" [navPush]="signupPage" ion-button block outline color="light">Sign Up</button>
			</ion-footer>
		</div>
	</div>
</ion-content>
