page-launch {

	.background {
		position: relative;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/blue-background.png');
	}

	.car-background {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/Mini.png');
		height: 100%;
	}

	.background-fade {
		background-color: rgba(56, 81, 115, .6);
		height: 100%;
	}

	.header-logo-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		.logo-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 20px;
			.brand-name {
				font-size: 38px; 
				color: white;
				margin: 10px 0;
				font-weight: 400;
				letter-spacing: 1px;
				// media query for small devices
				@media screen and (max-width: 320px) {
					font-size: 30px;
				}
			}
			.brand-subtext {
				font-size: 14px;
				color: white;
			}
		}
		img {
			height: 75px;
			width: 75px;
		}
	}

	.logo-position {
		position: fixed;
  	top: 3%;
  	left: 0;
	}

	.tagline-position {
		position: fixed;
		top: 3.5%;
		left: 0;
	}

	.button-margin {
		margin: 5px 0px;
		width: 70%;
		display: inline-block;
	}

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.5);
		border: medium none;

		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}

	.icon {
		padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}

	.card-content-bottom {
		position: absolute;
		bottom: 25px;
		width: 80%;
		margin: auto;
		top: 75%;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
