'<ion-header>
  <ion-navbar>
    <ion-title>Manage My Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <!-- Form for the user account page -->
  <form class="form" [formGroup]="validations_form">
    <div class="contact-info-logout-btn">
      <div class="contact-info-header">Contact Info</div>
      <button color="tab-background" class="logout-btn" ion-button clear (click)="doSaveInfo()">Save</button>
      <button color="tab-background" class="logout-btn" ion-button clear (click)="doSignOut()">Logout</button>
    </div>
    <!-- Ion list that holds all of the contact inputs -->
    <ion-list>
      <!-- Input for Users name -->
      <ion-item class="input-styles">
        <ion-label class="input-label" color="tab-background">Name</ion-label>
        <ion-input type="text" formControlName="name" class="form-control" required></ion-input>
      </ion-item>
      <!-- Error Message for Users name -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <!-- Input for user email -->
      <ion-item class="input-styles">
        <ion-label class="input-label" color="tab-background">E-mail</ion-label>
        <ion-input type="text" formControlName="email" class="form-control" required></ion-input>
      </ion-item>
      <!-- Error message for user email -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <!-- Matching Passwords div -->
      <div formGroupName="matching_passwords">
        <!-- Input for user password -->
        <ion-item class="input-styles">
          <ion-label class="input-label" color="tab-background">Password</ion-label>
          <ion-input class="input" type="password" formControlName="password" required></ion-input>
        </ion-item>
        <!-- Error message for user password -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!-- Input for confirm user password -->
        <ion-item class="input-styles">
          <ion-label class="input-label" color="tab-background">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <!-- Error message for confirm user password -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- Error for password container -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <!-- Input for user cellphone -->
      <ion-item class="input-styles">
        <ion-label class="input-label" color="tab-background">Cell phone</ion-label>
        <ion-input type="text" formControlName="cellphone" class="form-control"></ion-input>
      </ion-item>
      <!-- Input for user Home phone -->
      <ion-item class="input-styles">
        <ion-label class="input-label" color="tab-background">Home phone</ion-label>
        <ion-input type="text" formControlName="homephone" class="form-control"></ion-input>
      </ion-item>
      <!-- Input for user Zip code -->
      <ion-item class="input-styles">
        <ion-label class="input-label" color="tab-background">Zip Code</ion-label>
        <ion-input type="text" formControlName="zip" class="form-control"></ion-input>
      </ion-item>
    </ion-list>
    <!-- Prefered Contact Section -->
    <h6>Preferred Contact</h6>
    <ion-list>
      <ion-item>
        <ion-segment [(ngModel)]="prefContact" [ngModelOptions]="{standalone:true}" color="tab-background">
          <ion-segment-button value="Email">E-mail</ion-segment-button>
          <ion-segment-button value="CellPhone">Cell Phone</ion-segment-button>
          <ion-segment-button value="HomePhone">Home Phone</ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-list>
    <!-- Setting Toggle Switches -->
    <h6>Settings</h6>
    <ion-list>
      <ion-item>
        <ion-label>Enable Notifications</ion-label>
        <ion-toggle color="tab-background" [(ngModel)]="settings.enableNotifications" [ngModelOptions]="{standalone:true}" (ionChange)="notify()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Receive Text Offers</ion-label>
        <ion-toggle color="tab-background" [(ngModel)]="settings.receiveOffers" [ngModelOptions]="{standalone:true}" (ionChange)="notify()"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>