page-user-profile {

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.error-message {
		color: #ff0000;
		text-align: left;
		padding-left: 20px
	}

	.form {
		margin-top: 150px;
		@media screen and (max-width: 320px) {
			margin-top: 225px;
		}
	}

	h6 {
		font-size: 18px;
		font-weight: 800;
		color: #385173;
		text-align: left;
		margin-left: 20px;
	}

	.contact-info-logout-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;

		.contact-info-header {
			font-size: 18px;
			font-weight: 800;
			color: #385173;
		}

		.logout-btn {
			font-size: 16px;
			color: #9e9e9e;
			text-decoration: underline;
		}
	}

	.input-styles {
		padding: 0;
	}

	.input-label {
		padding-left: 20px;
	}
}
