page-progress-bar {

  .progress-bar-container {
    //border: 2px solid orange;
    width: 100%;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e0e0e0;

    .circle-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      //border: 2px solid blue;

      //height: 100%;
      width: 100%;
      padding: 0px 10px;
      .circle-start {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        color: white;
        background-color: #e0e0e0;
        border: 2px solid #e0e0e0;
        border-radius: 50%;
      }
      .step-container {
        //border: 2px solid pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 13px;
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 35px;
          color: white;
          background-color: #ffffff;
          border: 2px solid #e0e0e0;
          border-radius: 50%;

          .checkmark-icon {
            color: white;
            font-size: 40px;
          }
        }
        .step-text {
          font-size: 10px;
          letter-spacing: .75px;
          margin-top: 3px;
        }
      }
    }
  }

  .bar-wrapper {
    //border: 2px solid palevioletred;
    width: 98%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
  }

  .bar-fill {
    background-color: #43B7E8;
    height: 10px;
    //width: 10%;
    display: inline-block;
    //border: 1px solid blue;

  }
}
