<div class="progress-bar-container">
  <div class="circle-container">
    <div
      [style.background-color]="startCircleBackground"
      [style.border]="startCircleBorder"
      class="circle-start">
    </div>
    <div class="step-container">
      <div [style.border]="describeBorderColor" class="circle">
        <ion-icon [style.color]="describeIconColor" class="checkmark-icon" name="checkmark"></ion-icon>
      </div>
      <div class="step-text">Describe</div>
    </div>
    <div class="step-container">
      <div [style.border]="priceBorderColor" class="circle">
        <ion-icon [style.color]="priceIconColor" class="checkmark-icon" name="checkmark"></ion-icon>
      </div>
      <div class="step-text">Price</div>
    </div>
    <div class="step-container">
      <div [style.border]="postBorderColor" class="circle">
        <ion-icon [style.color]="postIconColor" class="checkmark-icon" name="checkmark"></ion-icon>
      </div>
      <div class="step-text">Post</div>
    </div>
  </div>
  <div class="bar-wrapper">
    <span [style.width.%]="barWidth" class="bar-fill"></span>
  </div>
</div>
