<ion-content class="background">
	<ion-card>
		<ion-card-content class="card-content-bottom">
			<ion-list no-line>
				<button [navPush]="signinPage" ion-button block outline color="light">Sign In</button>
				<button class="button-background-fill" [navPush]="signupPage" ion-button block outline color="light">Sign Up</button>
				<!--
				<p>OR</p>
				<button ion-button block color="facebook">
					<ion-icon name="logo-facebook"></ion-icon> Login with facebook
				</button>
				-->
			</ion-list>
		</ion-card-content>
	</ion-card>
	<!--<button class="bottom" ion-button clear full color="light">Don't have an account? Sign up</button>-->
</ion-content>
