<ion-content class="background">
	<!-- Brand text and Logo Container -->
	<div class="header-logo">
		<div class="brand-name">Vin Voyager</div>
		<img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
	</div>
	<div class="welcome-container">
		<div class="welcome-text">Welcome!</div>
		<img src="assets/imgs/Lexus.png" alt="welcome picture">
		<div class="body-text">Vin Voyager makes it easy to sell your vehicle.</div>
		<button class="button-background-fill" ion-button color="blue-background" [navPush]="scanPage">Scan The Vehicle</button>
	</div>
</ion-content>