page-home {
	.welcome-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
	}
	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px; 
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.welcome-text {
		font-size: 40px;
		font-weight: 600;
		margin: 20px 0;
		// media query for small devices
		@media screen and (max-width: 320px) {
			font-size: 38px;
			margin: 10px 0;
		}
	}

	.body-text{
		font-size: 20px;
		text-align: center;
		margin: 20px 0;
		color: #385173;
		@media screen and (max-width: 320px) {
			font-size: 16px;
			margin: 10px 0;
		}
	}

	.button-background-fill {
		width: 90%;
	}

	.ion-footer-style {
		position: absolute;
		bottom: 0;
		width: 80%;
		margin: auto;
		top: 85%;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 104;
		margin: -7% 0% 0% 15%;
		// media query for small devices
		@media screen and (max-width: 320px) {
			top: 83%;
		}
	}

	.scroll-content {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}