<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Progress Bar component -->
  <page-progress-bar></page-progress-bar>
  <!-- Header Text -->
  <div class="trim-header">
    Select Trim
  </div>
  <!-- Description of the Vehicle -->
  <div class="vehicle-description">
    {{vehDesc}}
  </div>
  <!-- Options container and ngFor statement that produces the users options -->
  <div class="options-container">
    <div class="trim-option" *ngFor="let trim of trimData" (click)="doPush(trim)">
      {{trim.name}}
    </div>
  </div>
</ion-content>
