page-vehicle-trim {

  .scroll-content {
		overflow-x: hidden;
		overflow-y: hidden;
	}

  .trim-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .vehicle-description {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #43B7E8;
    padding: 10px;
  }

  .options-container {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 400px;
  }

  .trim-option {
    background-color: #E4E9F2;
    color: gray;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin: 10px 0;
  }

}
