<ion-content>
  <!-- Brand Logo And Text conatiner -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <!-- Default Content for when a user has no offers to manage -->
  <div class="default-listing-container" *ngIf="isDefaultVisible === true">
    <div class="default-text">Manage My Offers</div>
    <img class="default-img" src="assets/imgs/my-offers-hero.svg" alt="Offers Icon">
    <div class="default-body-text">Offers are made by dealers on listings you post on the dealer network.</div>
    <div class="offer-body-text">Once you accept an offer, the dealer will contact you directly to purchase your vehicle.</div>
  </div>
  <div class="offer-instructions" *ngIf="isDefaultVisible === false">
    <!-- Offer Header Container -->
    <div class="offer-header-text">
      Manage My Offers
    </div>
    <!-- Instructions Container -->
    <div class="offer-swipe-instructions">
      <div class="offer-dark-text">Swipe to Decide</div>
    </div>
  </div>
  <!-- Content container for when a user has offers to manage -->
  <div class="offer-listing-container" *ngIf="isDefaultVisible === false">
    <!-- Container that holds all of the cards that get looped through -->
    <div class="offer-card-container">
      <!-- This is the actual card container that gets looped with the ngFor loop -->
      <div class="offer-card" *ngFor="let offer of myoffers">
        <ion-list>
          <ion-item-sliding>
            <ion-item (click)="updatedSelectedOffer(offer)">
              <div class="offer-sliding-conatiner">
                <!-- card icon container -->
                <div class="offer-card-icon">
                  <img *ngIf="offer.read === false" src="assets/imgs/offer-new.svg" alt="New Offer Icon">
                  <img *ngIf="offer.read === true && offer.declined === false" src="assets/imgs/offer-revised.svg" alt="Revised Offer Icon">
                  <img *ngIf="offer.read === true && offer.declined === true" src="assets/imgs/offer-rejected.svg" alt="Rejected Offer Icon">
                </div>
                <!-- Card Text content container -->
                <div class="offer-card-content">
                  <div *ngIf="offer.read === false" class="offer-new-text">New Offer</div>
                  <div *ngIf="offer.read === true && offer.declined === false" class="offer-revised-text">Revised Offer</div>
                  <div *ngIf="offer.read === true && offer.declined === true" class="offer-rejected-text">Declined</div>
                  <div class="offer-car-info-text">
                    <div class="offer-car-text">
                      {{offer.tradeIn.vehicle.year}}
                      {{offer.tradeIn.vehicle.make}}
                      {{offer.tradeIn.vehicle.model}}
                    </div>
                    <div class="offer-dealer-location">
                      Dealer In {{offer.dealerContact.address.city}}, {{offer.dealerContact.address.district}}
                    </div>
                  </div>
                  <div class="offer-price-info">
                    <div class="offer-price-bold">${{offer.price}}</div>
                    <div class="offer-price-light" *ngIf="offerDifference(offer) > 0">
                      (${{offerDifference(offer)}} above asking)
                    </div>
                    <div class="offer-price-light" *ngIf="offerDifference(offer) == 0">(Asking Price)</div>
                    <div class="offer-price-light" *ngIf="offerDifference(offer) < 0">(${{offerDifference(offer)}} below asking)</div>
                  </div>
                </div>
              </div>
            </ion-item>
            <!-- buttons for the sliding container -->
            <ion-item-options side="right">
              <button ion-button color="secondary" (click)="showConfirm(offer)">Accept</button>
              <button ion-button color="danger" (click)="showDecline(offer)">Reject</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
