page-offers {

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px;
		border-bottom: 1px solid #e0e0e0;

		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}

		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.default-listing-container {
		padding: 0 10px;
		@media screen and (max-width: 320px) {
			margin-top: 35px;
		}
		.default-text {
			font-size: 28px;
			font-weight: 800;
			margin: 10px 0;
			@media screen and (max-width: 320px) {
				font-size: 22px;
				margin: 10px 0;
			}
		}
		.default-body-text {
			font-size: 18px;
			font-weight: 400;
			margin: 20px 0;
			@media screen and (max-width: 320px) {
				font-size: 14px;
				margin: 10px 0;
			}
		}
	}

	.offer-instructions {
		.offer-header-text {
			color: #385173;
			font-size: 20px;
			font-weight: 600;
			padding: 15px;
			border-bottom: 1px solid #e0e0e0;
		}
		.offer-swipe-instructions {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 15px;
      border-bottom: 1px solid #e0e0e0;
			.offer-dark-text {
				color:  #385173;
				font-weight: 600;
				@media screen and (max-width: 320px) {
					font-size: 10px;
				}
			}
		}
	}

	.offer-listing-container {
		height: 65%;
		width: 100%;
		overflow-y: scroll;
		@media screen and (max-width: 320px) {
			height: 60%;
		}
	}



	.offer-card-container {
		.offer-card {
			ion-list {
				margin: 0;
			}
			.offer-sliding-conatiner {
				display: flex;
			}
			.offer-card-icon {
				padding: 0 20px 20px 0;
				@media screen and (max-width: 320px) {
					padding: 0 5px 20px 0;
				}

				img {
					height: 30px;
					width: 30px;
					@media screen and (max-width: 320px) {
						height: 25px;
						width: 25px;
					}
				}
			}
			.offer-card-content {
				.offer-new-text {
					margin-top: 5px;
					color: #43B7E8;
					@media screen and (max-width: 320px) {
						margin-top: 2.5px;
					}
				}
				.offer-revised-text {
					margin-top: 5px;
					color: #EFDB4D;
					@media screen and (max-width: 320px) {
						margin-top: 2.5px;
					}
				}
				.offer-rejected-text {
					margin-top: 5px;
					color: #f53d3d;
					@media screen and (max-width: 320px) {
						margin-top: 2.5px;
					}
				}
				.offer-car-info-text {
					margin: 10px 0;
					.offer-car-text {
						font-weight: 800;
						color:  #385173;
					}
					.offer-dealer-location {
						color: gray;
					}
				}

				.offer-price-info {
					margin: 10px 0;
					display: flex;
					.offer-price-bold {
						font-weight: 800;
						color:  #385173;
					}
					.offer-price-light {
						color: gray;
						margin-left: 20px;
					}
				}
			}
		}
	}
}
