<!--enable the header will display the Back button -->
<!-- Header With Nav Button to go back to launch page -->
<ion-header>
    <ion-navbar color="blue-background">
      <ion-title>Sign In</ion-title>
    </ion-navbar>
</ion-header>
	<!-- Ion content container with blue background set as background img -->
<ion-content class="background">
	<div class="car-background">
		<div class="background-fade">
			<!-- logo image and background bmw image -->
			<div class="header-logo">
				<div class="brand-name">Vin Voyager</div>
				<img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
			</div>
			<!-- Signin form container -->
			<form class="form-position" (submit)="doSignIn()">
				<ion-card-content>
					<ion-item>
						<ion-input [(ngModel)]="signinData.username" name="username" type="text" placeholder="Enter E-mail Address" autofocus text-left ></ion-input>
					</ion-item>
					<ion-item>
						<ion-input [(ngModel)]="signinData.password" name="password" type="password" placeholder="Enter Password" text-left></ion-input>
					</ion-item>
				</ion-card-content>
				<!-- Footer Content -->
				<ion-footer class="ion-footer-style">
					<button class="button-background-transparent" style="z-index: 109; width: 70%;" ion-button block outline color="light" type="submit">Sign In</button>
					<button class="text-underline" style="z-index: 111;" ion-button clear full color="light" [navPush]="resetPasswordPage">Forgot your password?</button>	
				</ion-footer>
			</form>
		</div>
	</div>
</ion-content>
