// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//Copy this style from main.css to serve at the application level.  Main.css gets rebuild after a rebuild so it wipes out any changes.
//This eliminates the dotted box surrounding the input field when tab to it.
ion-input :focus {
  outline: none !important;
}

.button-background-transparent {
  background-color: transparent;
  width: 80%;
  margin: 10px auto;
}

.button-background-fill {
  background-color: #4299C4;
  width: 80%;
  margin: 10px auto;
}

.ion-footer-style {
  height: 150px !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}