page-vehicle-options {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .options-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .options-container {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .options-color-description {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #43B7E8;
    padding: 10px;
  }

  .option {
    background-color: #E4E9F2;
    color: gray;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
  }

  .next-btn {
    align-self: center;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }

  .selectedClass {
    background-color: #43B7E8;
    color: white;
  }
}
