<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor">
  </page-progress-bar>
  <div class="options-header">
    Select Options
  </div>

  <!-- Description of Vehicle -->
  <div class="options-color-description">
      {{vehDesc}}
  </div>

  <!-- Displays if no options are available -->
  <div style="font-size: 12px; text-align: center; color: #43B7E8;" *ngIf="noOptions">
      No options are available.  Press <a (click)="doPush()"><b><u>Next</u></b></a> to continue.
  </div>

  <div class="options-container">
    <div class="option"
       *ngFor="let options of optionsData"
       [ngClass]="{'selectedClass': options.isSelected}"
       (click)="doSelect(options)">
        {{options.value}}
    </div>

    <button class="next-btn" ion-button clear color="blue-background" (click)="doPush()">Next</button>
  </div>
</ion-content>
