<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Brand Logo and Text -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <!-- My Offer Text -->
  <div class="offer-header-text">
    My Offer
  </div>
  <div class="offer-accepted-container">
    <div class="make-model">
      {{selectedOffer.tradeIn.vehicle.year}}
      {{selectedOffer.tradeIn.vehicle.make}}
      {{selectedOffer.tradeIn.vehicle.model}}
    </div>
    <div class="offer-amount">${{selectedOffer.price}}</div>
    <div class="offer-status">OFFER ACCEPTED</div>
    <div class="offer-thanks">Thank you! We're so glad you were able to make a deal with one of our dealers.</div>
    <div class="offer-confirm">
      {{selectedOffer.dealerContact.name}}
      {{selectedOffer.dealerContact.lastname}}
      the
      {{selectedOffer.dealerContact.title}}
      will be contacting you with next steps. If you wish to contact them directly, call
      {{selectedOffer.dealerContact.phoneCell}}!
    </div>
  </div>
</ion-content>
