page-offer-accepted {

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px; 
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.offer-header-text {
		color: #385173;
		font-size: 20px;
		font-weight: 600;
		padding: 15px;
		border-bottom: 1px solid #e0e0e0;
		text-align: center;
	}

	.offer-accepted-container {
		padding: 20px 40px;
		.make-model {
			color: #43B7E8;
			font-size: 26px;
			font-weight: 600;
			margin: 10px 0;
		}

		.offer-amount {
			color: #32db64;
			font-size: 30px;
		}

		.offer-status {
			color: #32db64;
			font-size: 26px;
			font-weight: 600;
		}

		.offer-thanks {
			font-size: 17px;
			color: #385173;
			margin: 20px 0
		}

		.offer-confirm {
			font-size: 17px;
			color: #385173;
			margin: 20px 0
		}
	}
}
