page-vehicle-photos {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .photos-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .photos-color-description {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #43B7E8;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .photos-container {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 200px;
  }

  .action-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;
    .open-camera-btn {
      font-size: 30px;
      padding: 10px;
      height: 40px;
    }
    .open-library-btn {
      font-size: 30px;
      padding: 10px;
      height: 40px;
    }
    .delete-btn {
      font-size: 30px;
      padding: 10px;
      height: 40px;
    }
  }

  .selected-photos-container {
    .photos-array {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .vehicle-photo {
        width: 65px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        margin: 0 2.5px;
      }
    }

    .selected-photo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .selected {
        width: 250px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
      }
    }
  }

  .next-btn-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .selectedStyles {
    border: 2px solid #43B7E8;
  }
}
