<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Progress Bar Component -->
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [describeBorderColor]="startBorderColor"
    [describeIconColor]="iconColor">

  </page-progress-bar>

  <!-- Header Text -->
  <div class="photos-header">
    Upload Pictures
  </div>

  <!-- Description of Vehicle -->
  <!--<div class="photos-color-description">-->
    <!--{{vehDesc}}-->
  <!--</div>-->

  <!--Scroll-able container that holds the action buttons as well as the vehicle photos-->
  <div class="photos-container">
    <!--Action buttons container-->
    <div class="action-btns-container">
      <div class="spacer">
        <button class="open-camera-btn" ion-button outline color="blue-background" (click)="openCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button class="open-library-btn" ion-button outline color="blue-background" (click)="getPictures()">
          <ion-icon name="images"></ion-icon>
        </button>
      </div>
      <button class="delete-btn" ion-button outline color="danger" (click)="removePicture()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
    <!--Container the holds an array of photos uploaded by the user as well as the selected image-->
    <div class="selected-photos-container">
      <div class="photos-array">
        <img *ngFor="let image of images; let i = index" [src]="DomSanitizer.bypassSecurityTrustUrl(image)" class="vehicle-photo" alt="vehicle-photo" (click)="selectImage(i)" [ngClass]="{'selectedStyles': i === selectedImageIndex }"/>
      </div>
      <div class="selected-photo" *ngIf="images.length > 0">
        <img class="selected" [src]="DomSanitizer.bypassSecurityTrustUrl(images[selectedImageIndex])" alt="selected vehicle photo"/>
      </div>
    </div>
    <!--Next button to push the user to the next page-->
    <div class="next-btn-position">
      <button class="next-btn" ion-button clear color="blue-background" (click)="doPush()">Next</button>
    </div>
  </div>
</ion-content>



<!--&lt;!&ndash;<ion-slides class="image-slider" loop="false" slidesPerView="5">&ndash;&gt;-->
<!--<ion-slides class="image-slider" slidesPerView="4">-->
  <!--<ion-slide *ngFor="let image of images">-->
    <!--<img [src]="DomSanitizer.bypassSecurityTrustUrl(image)" class="thumb-img" imageViewer/>-->
  <!--</ion-slide>-->
<!--</ion-slides>-->
<!--</div>-->

<!--<div>-->
  <!--<button class="button-margin" style="background-color: #4299C4" ion-button block outline color="light" (click)="openCamera()">Open Camera</button>-->
  <!--<button class="button-margin" style="background-color: #4299C4" ion-button block outline color="light" (click)="getPictures()">Select Photos</button>-->
  <!--<button (click)="test()">help me</button>-->
<!--</div>-->

<!--<div class="photos-container">-->
  <!--<button class="next-btn" ion-button clear color="blue-background" (click)="doPush()">Next</button>-->
<!--</div>-->

<!--&lt;!&ndash;-->
<!--<ion-card *ngFor="let image of images">-->
  <!--<img [src]="DomSanitizer.bypassSecurityTrustUrl(image)" />-->
<!--</ion-card>-->
<!--&ndash;&gt;-->

<!--&lt;!&ndash;<img [src]=cameraData *ngIf="photoTaken" />&ndash;&gt;-->
<!--&lt;!&ndash;<img [src]="DomSanitizer.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken" />&ndash;&gt;-->
<!--&lt;!&ndash;<img [src]="DomSanitizer.bypassSecurityTrustUrl(cameraUrl)" *ngIf="photoSelected" />&ndash;&gt;-->
