<!--enable the header will display the Back button -->
<ion-header>
  <ion-navbar color="blue-background">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
	<div class="car-background">
		<div class="background-fade">
			<!-- Logo text and Icon Container -->
			<div class="header-logo">
				<div class="brand-name">Vin Voyager</div>
				<img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
			</div>
			<!-- Form Container -->
			<form class="form-position" (submit)="doReset()">
				<ion-card-content class="card-content-top">
					<ion-item>
						<ion-input [(ngModel)]="userEmailData.useremail" name="useremail" type="text" placeholder="Enter E-mail Address" autofocus text-left></ion-input>
					</ion-item>
				</ion-card-content>
				<!-- Content Footer -->
				<ion-footer class="ion-footer-style">
					<button class="button-background-transparent" style="z-index: 109; width: 70%;" ion-button block outline color="light" type="submit">Reset Password</button>
				</ion-footer>
			</form>
		</div>
	</div>
</ion-content>
