page-reset-password {

	.background {
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/blue-background.png');
	}

	.car-background {
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/BMW.png');
		height: 100%;
	}
	
	.background-fade {
		background-color: rgba(56, 81, 115, .7);
		height: 100%;
	}
			
	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px 10px 10px;
		.brand-name {
			font-size: 38px; 
			color: white;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
		}
	}

	.form-position {
		margin-top: 25%;
		width: 100%;
		ion-item {
			width: 100%;
			padding: 0;
		}
	}

	.card-content-top {
		width: 100%;
	}

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}

    /*transparent effect for email and password input fields*/
	.item {
		color: #fff;
		background-color: transparent;
		margin-bottom: 10px;
		width: 85%;
		display: inline-block;
	}

	.item-input {
		box-shadow: none;
		-webkit-box-flex: 0;
		flex: none;
		border: none;
	}
}
