page-vehicle-post-create {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .post-create-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .post-create-container {
    //height: 100%;
    //overflow-y: scroll;
    //padding-bottom: 225px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .listing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .photo-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 0 0;
    .img-container {
      padding: 10px;
      img {
        width: 125px;
      }
    }
    .price-container {
      height: 100%;
      width: 100%;
      .asking-edit-btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
        padding-left: 5px;
        .my-asking-price {
          font-size: 17px;
          color: #385173;
          font-weight: 600;
        }
      }
      .price {
        color: #43B7E8;
        font-size: 17px;
        font-weight: 600;
      }
    }
  }

  .edit-btn {
    text-decoration: underline;
    height: 20px;
  }



  .make-model-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
    .make-model {
      font-size: 17px;
      color: #385173;
      font-weight: 600;
    }
  }

  .vehicle-description {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .congrats-container {
    text-align: center;
    padding: 0px 10px;
    .congrats-bold {
      font-size: 20px;
      font-weight: 600;
      color: #385173;
      margin: 10px 0;
    }
    .congrats-text {
      margin: 10px 0;
      font-size: 15px;
    }
  }

  .post-btn {
    margin-top: 10px;
    width: 50%;
  }
}
