<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [priceBorderColor]="startBorderColor"
    [priceIconColor]="iconColor"
    [describeBorderColor]="startBorderColor"
    [describeIconColor]="iconColor">
  </page-progress-bar>

  <div class="post-create-header">
    My Listing
  </div>

  <div class="post-create-container">
    <!--Listing Container-->
    <div class="listing-container">
      <div class="photo-price">
        <!--Vehicle Image-->
        <div class="img-container">
          <img src="assets/imgs/honda-civic1.jpeg">
        </div>
        <!--Asking price and edit button-->
        <div class="price-container">
          <div class="asking-edit-btn">
            <div class="my-asking-price">My Asking Price <span class="price">$13,200</span></div>
            <button class="edit-btn" ion-button clear color="light-gray">Edit</button>
          </div>
        </div>
      </div>
      <!--Make/Model and edit button for the car description-->
      <div class="make-model-edit">
        <div class="make-model">{{vehDesc}}</div>
        <button class="edit-btn" ion-button clear color="light-gray">Edit</button>
      </div>
      <!--Car Description-->
      <div class="vehicle-description">
        FWD Coupe equipped with a 1.8L 1-4 Cyl Engine, CVT Transmission
      </div>
    </div>
    <!--Congrats text container-->
    <div class="congrats-container">
      <div class="congrats-bold">Congratulations!</div>
      <div class="congrats-text">You have successfully created your ad.</div>
      <div class="congrats-text"> Please review and select "Post" to launch to the Vin Voyager network</div>
    </div>
    <!--Post vehicle button-->
    <button class="post-btn" ion-button outline color="blue-background" (click)="doPush()">Post</button>
  </div>
</ion-content>
