page-signup {
	.background {
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/blue-background.png');
	}

	.car-background {
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url('../assets/imgs/BMW.png');
		height: 100%;
	}
	
	.background-fade {
		background-color: rgba(56, 81, 115, .7);
		height: 100%;
	}
	
	form {
		position: fixed;
		top: 25%;
		height: 70%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		//overflow-y: scroll;
		//hides the vertical scroll bar
		overflow-y: hidden;
		// media query for small devices
		@media screen and (max-width: 320px) {
			top: 28%;
		}
	}
    
	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px 10px 10px;

		.brand-name {
			font-size: 38px; 
			color: white;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
					font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
		}
  }
    

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.card-content-top {
		width: 100%;
		ion-item {
			margin: 20px 0;
		}
	}

	.card-content-bottom {
		width: 100%;
	}

	/*transparent effect for email and password input fields*/
	.item {
		color: #fff;
		background-color: transparent;
	}

	.button-signup {
		background-color: transparent !important;
		width: 80%;
		margin: 10px auto;
	}

	.error-message {
		color: #ff0000;
		text-align: left;
		padding-left: 20px
	}
}
