<!--enable the header will display the Back button -->
<ion-header>
    <ion-navbar color="blue-background">
      <ion-title>Sign Up</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content class="background">
  <div class="car-background">
    <div class="background-fade">
      <div class="header-logo">
        <div class="brand-name">Vin Voyager</div>
        <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
      </div>
      <form class="form" [formGroup]="validations_form" (submit)="doSignup()">
        <ion-card-content class="card-content-top">
          <!-- Input for Username -->
          <!--
          <ion-item class="input-styles">
            <ion-input class="form-control" type="text" [(ngModel)]="signupData.username" formControlName="username" placeholder="Enter Username" required></ion-input>
          </ion-item>
          -->
          <!-- Error Message for Username -->
          <!--
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          -->
          <!-- Email Input -->
          <ion-item class="input-styles">
            <ion-input class="form-control" type="text" [(ngModel)]="signupData.email" formControlName="email" placeholder="Enter E-mail Address" autofocus text-left required></ion-input>
          </ion-item>
          <!-- Error message for email input -->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <!-- Matching Passwords div -->
          <div formGroupName="matching_passwords">
            <!-- Input for user password -->
            <ion-item class="input-styles">
              <ion-input class="input" type="password" [(ngModel)]="signupData.password" formControlName="password" placeholder="Enter Password" text-left required></ion-input>
            </ion-item>
            <!-- Error message for user password -->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <!-- Input for confirm user password -->
            <ion-item class="input-styles">
              <ion-input type="password" formControlName="confirm_password" placeholder="Confirm Password" text-left required></ion-input>
            </ion-item>
            <!-- Error message for confirm user password -->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.confirm_password">
                <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Error for password container -->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          
          
          
          
          <!-- Password Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.password" formControlName="password" type="password" placeholder="Enter Password" text-left ></ion-input>
          </ion-item>
          -->
          <!-- Confirm Password Input -->
          <!--
          <ion-item>
            <ion-input formControlName="confirm_password" type="password" placeholder="Confirm Password" text-left></ion-input>
          </ion-item>
        -->
          
          
          <!-- First Name Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.firstName" name="firstName" type="text" placeholder="First name" text-left ></ion-input>
          </ion-item>
          -->
          <!-- Last Name Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.lastName" name="lastName" type="text" placeholder="Last name" text-left></ion-input>
          </ion-item>
          -->
          <!-- Email Address Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.email" name="email" type="text" placeholder="Enter E-mail Address" autofocus text-left ></ion-input>
          </ion-item>
          -->
          <!-- Password Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.password" name="password" type="password" placeholder="Enter Password" text-left ></ion-input>
          </ion-item>
          -->
          <!-- Confirm Password Input -->
          <!--
          <ion-item>
            <ion-input type="password" placeholder="Confirm Password" text-left></ion-input>
          </ion-item>
          -->
          <!-- User CellPhone Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.phoneCell" name="phoneCell" type="text" placeholder="Cell Phone" text-left ></ion-input>
          </ion-item>
          -->
          <!-- User HomePhone Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.phoneHome" name="phoneHome" type="text" placeholder="Home Phone" text-left ></ion-input>
          </ion-item>
          -->
          <!-- User Address line 1 input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.address" name="address" type="text" placeholder="Address" text-left ></ion-input>
          </ion-item>
          -->
          <!-- User Addres2 line 2 input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.address2" name="address2" type="text" placeholder="Address #2" text-left></ion-input>
          </ion-item>
          -->
          <!-- Postal Code Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.postalCode" name="postalCode" type="text" placeholder="Postal Code" text-left></ion-input>
          </ion-item>
          -->
          <!-- Province Input -->
          <!--
          <ion-item>
            <ion-input [(ngModel)]="signupData.province" name="province" type="text" placeholder="Province"
            text-left></ion-input>
          </ion-item>
          -->
        </ion-card-content>
        <ion-card-content class="card-content-bottom">
          <button class="button-signup" ion-button block outline color="light">Create Account</button>
        </ion-card-content>
      </form>
    </div>
  </div>
    
</ion-content>
  