<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Progress Bar Component -->
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBackgroundColor">
  </page-progress-bar>

  <!-- Header Text -->
  <div class="odometer-color-header">
    Select Odometer
  </div>

  <!-- Description of Vehicle -->
  <div class="odometer-color-description">
    {{vehDesc}}
  </div>

  <div class="odometer-container">
    <form class="odometer-form" [formGroup]="odometerForm" (submit)="doPush()">
      <input type="number" class="input-styles" formControlName="odometer" />
      <button class="next-btn" type="submit" ion-button clear color="blue-background">Next</button>
    </form>
  </div>
</ion-content>
