page-vehicle-odometer {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .odometer-color-header {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding:  10px 20px;
      color: #385173;
      border-bottom: 1px solid #e0e0e0;
    }

    .odometer-color-description {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #43B7E8;
      padding: 10px;
    }

    .odometer-container {
      height: 100%;
      //border: 2px solid red;
      .odometer-form {
        display: flex;
        height: 200px;
        margin-top: 40px;
        padding: 0 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .input-styles {
          width: 100%;
          height: 50px;
          border: 2px solid #e0e0e0;
          border-radius: 10px;
          color: #43B7E8;
          font-size: 20px;
          padding: 0px 10px;
        }
      }
    }
}
