page-info-cast {

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 20px 10px;
		border-bottom: 1px solid #e0e0e0;
		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

  .error {
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }

	.list-position {
		padding: 10px;
		overflow-y: scroll;
	}

	.card-container {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
		margin: 10px 0;
	}

	.offer-expired-header {
		background-color: #FF333C;
		color: white;
		padding: 5px;
		font-weight: 600;
		font-size: 16px;
	}

	.offer-expired-body-content {
		padding: 20px 10px;
	}

	.offer-header {
		background-color: #6FCAF0;
		color: white;
		padding: 5px;
		font-weight: 600;
		font-size: 16px;
	}

	.offer-body-content {
		padding: 20px 10px;
	}
}
