<ion-content class="background">
  <!-- Header and Logo -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>

  <div class="error" *ngIf="noDataPage === true">
    Oops! Looks like something went wrong... try reloading the app!
  </div>
  <!-- Offer List container div -->
  <div class="list-position">
    <!-- ngFor state for each offer -->
    <div *ngFor="let info of infocast">
      <!-- If the offer is expired -->
      <div class="card-container" *ngIf="info.expired === true">
        <div class="offer-expired-header">
          {{info.title}}
        </div>
        <div class="offer-expired-body-content">
          {{info.desc}}
        </div>
      </div>
      <!-- If the offer is still valid -->
      <div class="card-container" *ngIf="info.expired === false">
        <div class="offer-header">
          {{info.title}}
        </div>
        <div class="offer-body-content">
          {{info.desc}}
        </div>
      </div>

    </div>
  </div>
</ion-content>
