<ion-content>
  <!-- Brand Logo And Text -->
  <div class="header-logo">
    <div class="brand-name">Vin Voyager</div>
    <img src="assets/imgs/vin-voyager-logo.svg" alt="Vin Voyager Logo">
  </div>
  <!-- Defualt Content container for when a user has no listings -->
  <div class="default-listing-container" *ngIf="isDefaultVisible === true">
    <div class="manage-text">Manage My Listings</div>
    <img class="manage-img" src="assets/imgs/manage-mylistings-hero.svg" alt="Manage Listings Icon">
    <div class="manage-body-text">Listings are created by scanning the barcode on your vehicle.</div>
    <button class="new-listing" ion-button clear full color="dark">Create New Listing</button>
  </div>
  <!-- Offer Header Container -->
  <div class="listing-header-text" *ngIf="isDefaultVisible === false">
    Manage My Listings
  </div>
  <div class="listing-container" *ngIf="isDefaultVisible === false">
    <!-- container that holds all of the cards and the create new listing button -->
    <div class="listing-card-container">
      <div class="listing-card" (click)="updateSelectedListing(listing)" [navPush]="listingDetail" *ngFor="let listing of myListings" >
        <div class="make-model-year">
          {{listing.tradeIn.vehicle.year}}
          {{listing.tradeIn.vehicle.make}}
          {{listing.tradeIn.vehicle.model}}
        </div>
        <div class="img-price">
          <div class="img-container">
            <img [src]="listing.tradeIn.vehicle.photos[0]" alt="Car Image">
          </div>
          <div class="price-container">
            <div class="desired-price">
              ${{listing.tradeIn.price}}
            </div>
            <div class="dealer-trade">
              ${{listing.tradeIn.marketPrice.dealerTrade}} Dealer Trade
            </div>
          </div>
        </div>
        <div class="listing-description">
          {{listing.tradeIn.vehicle.description}}
        </div>
      </div>
      <div class="btn-container">
        <button class="new-listing-btn" ion-button color="blue-background" outline (click)="doPush()">Create a New Listing</button>
      </div>
    </div>
  </div>
</ion-content>
