page-vehicles {
	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header-logo {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		// height: 24.5%;
		padding: 31px 10px;
		border-bottom: 1px solid #e0e0e0;

		.brand-name {
			font-size: 38px;
			color: black;
			margin: 10px 0;
			font-weight: 400;
			// media query for small devices
			@media screen and (max-width: 320px) {
				font-size: 34px;
			}
		}
		img {
			height: 75px;
			width: 75px;
			// media query for small devices
			@media screen and (max-width: 320px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	.default-listing-container {
		padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
		.manage-text {
			font-size: 28px;
			font-weight: 600;
			margin: 20px 0;
			@media screen and (max-width: 320px) {
				font-size: 22px;
				margin: 10px 0;
			}
		}
		.manage-img {
			width: 250px;
      align-self: center;
		}
		.manage-body-text {
			font-size: 18px;
			font-weight: 400;
			margin: 30px 0;
      text-align: center;
			@media screen and (max-width: 320px) {
				font-size: 14px;
				margin: 10px 0;
			}
		}
		.new-listing {
			color: #43B7E8;
		}
	}

	.listing-header-text {
		color: #385173;
		font-size: 20px;
		font-weight: 600;
		padding: 15px;
		border-bottom: 1px solid #e0e0e0;
		text-align: center;
	}

	.listing-container {
		overflow-y: scroll;
		height: 100%;
	}

	.listing-card-container {
		display: flex;
		flex-direction: column;
		.btn-container {
			padding: 30px 0;
			align-self: center;
		}
	}

	.listing-card {
		padding: 10px;
		border-bottom: 1px solid #e0e0e0;
		.make-model-year {
			color: #385173;
			font-size: 16px;
			font-weight: 600;
			padding: 5px 0;
			text-align: left;
		}
		.img-price {
			display: flex;
			align-items: center;
			.img-container {
				img {
					width: 125px;
				}
			}
			.price-container {
				margin-left: 20px;
				padding: 5px;
				.desired-price {
					color: #43B7E8;
					font-size: 20px;
					font-weight: 600;
				}
				.dealer-trade {
					color: gray;
					font-size: 14px;
					@media screen and (max-width: 320px) {
						font-size: 12px;
					}
				}
			}
		}
		.listing-description {
			color: gray;
			font-size: 10px;
			padding: 5px 0;
		}
	}
}
