<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-progress-bar
    [barWidth]="progressBarWidth"
    [startCircleBackground]="startBackgroundColor"
    [startCircleBorder]="startBorderColor"
    [priceBorderColor]="startBorderColor"
    [priceIconColor]="iconColor"
    [describeBorderColor]="startBorderColor"
    [describeIconColor]="iconColor"
    [postBorderColor]="startBorderColor"
    [postIconColor]="iconColor">
  </page-progress-bar>

  <div class="post-confirm-header">
    List My Vehicle
  </div>

  <div class="post-confirm-container">
    <div class="make-model">{{vehDesc}}</div>

    <div class="congrats-text">
      Congratulations!
    </div>

    <div class="post-confirm-text">
      Your listing has been successfully posted. As offers come in we will send you notifications.
    </div>

    <div class="post-confirm-text">
      Thank you for listing on Vin Voyager!
    </div>

    <button class="done-btn" ion-button clear color="blue-background" (click)="doPush()">Done</button>
  </div>

</ion-content>
