page-vehicle-post-confirm {

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .post-confirm-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding:  10px 20px;
    color: #385173;
    border-bottom: 1px solid #e0e0e0;
  }

  .post-confirm-container {
    text-align: center;
    padding: 10px;
  }

  .make-model {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #43B7E8;
    padding: 10px;
  }

  .congrats-text {
    font-size: 24px;
    color: #385173;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }

  .post-confirm-text {
    font-size: 18px;
    margin: 20px 0;
  }

  .done-btn {
    font-size: 16px;
  }
}
